<!--Homepage Head-->
<article class="full_column">
  <div class="homepage_head">

    <h1>Looking For Something?</h1>
    <h2>Find it here!</h2>

  </div>
</article>

<!--Homepage 1/4 squares-->
<article class="one_fourth">

  <img src="images/homepage/my_image.jpg" width="" height="" alt=""/>

</article>

<article class="one_fourth">

  <img src="images/homepage/my_image.jpg" width="" height="" alt=""/>

</article>

<article class="one_fourth">

  <img src="images/homepage/my_image.jpg" width="" height="" alt=""/>

</article>
<article class="one_fourth">

  <img src="images/homepage/my_image.jpg" width="" height="" alt=""/>

</article>