<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title>PAGE TITLE HERE</title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <link href="style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header>
  <div class="wrapper">
    <article class="one_third">
      <a href = "http://www.webpage.com"><img src="images/common/logo.png" alt="Logo" /></a>
    </article>
    <article class="one_third">
        <a href = "http://www.webpage.com">Link</a>
        <a href = "http://www.webpage.com">Link</a>
        <a href = "http://www.webpage.com">Link</a>
        <a href = "http://www.webpage.com">Link</a>
    </article>
    <article class="one_third">
      <div class="float_right">
        <button type="button" formmethod="post" onclick="myFunction()">Join</button>
        <a href="/registration"><button type="button" formmethod="post">SignIn</button></a>
       </div>
    </article>
  </div>
</header>

<script>
  function myFunction() {
    window.open("/registration", "_blank", "toolbar=no, scrollbars=no, resizable=no, top=500, left=500, width=400, height=400");
  }
</script>


<div id="content">
  <div class="wrapper">

    <!--1/4-->
      <section class="clearfix">


        <%= yield %>


      </section>

  </div><!--end wrapper-->
</div><!--end content-->


<footer>
  <div class="wrapper">
    Footer Here
  </div><!--end wrapper-->
</footer>


</body>
</html>
