<h2>Create your own page!</h2>
<form method="post" action="/post_page">
  <label for="image">Image http address</label>
  <input type="text" name="image" id="image"/>
  <br>
  <br>
  <label for="description">Description:</label>
  <textarea type="text" col="40" row="5" id="post_page" name="post_page"></textarea>
  <br>
  <br>
  <input type="submit" value="Create Post"/>
</form>