<!--Join-->
<h1>Join Website </h1>
<h2>Everyone loves us, <br> you will too!</h2>

<form action="/registration" method="post">
  <input id="POST-email" type="text" name="email" placeholder="Email" required><br>
  <input id="POST-username" type="text" name="username" placeholder="Username" required><br>
  <input id="POST-create_password" type="text" name="create_password" placeholder="Create Password" required><br>
  <input type="submit" value="Join">
</form>

<div>
  <h3>
    Already a member? <br>
    <a href="/homepage">SignIn</a>
  </h3>
</div>